@font-face {
  font-family: "Montserrat-Regular";
  src: url(/public/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(/public/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(/public/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(/public/fonts/Montserrat-ExtraBold.ttf);
}
body {
  background: #1e1e1e;
}

/* ///..Font-family../ */

.primary-font-regular {
  font-family: "Montserrat-Regular";
  font-weight: 400;
}
.primary-font-medium {
  font-family: "Montserrat-Medium";
  font-weight: 500;
}
.primary-font-semibold {
  font-family: "Montserrat-Bold";
  font-weight: 600;
}
.primary-font-extraBold {
  font-family: "Montserrat-ExtraBold";
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.button-bg {
  background: linear-gradient(135deg, #370c14 0%, #280c23 100%);
}
.button-bg:hover {
  background: linear-gradient(135deg, #62051c 0%, #440c3a 100%);
}
@media (min-width: 1280px) {
  .container {
    max-width: 1920px;
  }
  .progress {
    height: 10px;
    width: 40%;
  }
}
@media (max-width: 425px) {
  .progress {
    height: 10px;
    width: 80%;
  }
}

/* PROGRESS BAR */

.progress {
  position: relative;
  margin-bottom: 2rem;
}

.progress #length {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
}

.progress #progress__animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #eeecec;
  z-index: 55;
  animation: moving;
  animation-duration: 32s;
  /* 3 seconds per slide */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moving {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.progress .slider__count {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: flex;
}

.slider__count .count {
  width: 25%;
  border: 4px solid #1e1e1e;
}
